<h1>{{ collections.frontpage.title }}</h1>

{% for product in collections.frontpage.products %}
  <h3>
    {{ product.title }}
  </h3>
  <img src="{{prdouct.featured_image}}" alt=""> {{}}
  <p>
    {{ product.price }}
  </p>

  {{- product.title | link_to: 'prouct.url', 'title' }}
{%- endfor %}
I have mentioned in my previous response as well, that he is lying that we didn't send him the code.
I had sent him the code first and then he sent us the money. I have attached the screenshot of the code sent. 
He sent the money one week after the code was sent. I have attached that screenshot as well, where we are asking him for the money and he is saying that he is having some issue with his credit or debit card.

He has opened another case "PP-R-HOM-495240771", where he is asking for code which should be discussed on freelancer.com. but he has opened a dispute here. I have attached the chat where we are talking about the code for the task he is asking for.